{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzCoreBundle #}

{% extends 'AtemschutzCoreBundle:User:base.html.twig' %}

{% block title %}{{ parent() }} - Neu{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block moduleTitle %}Neuer Benutzer{% endblock %}

{% block moduleActions %}
<ul class="inline">
	<li><a href="{{ path('user_index') }}">Abbrechen</a>
</ul>
{% endblock %}

{% block moduleBody %}
{% include 'AtemschutzCoreBundle:User:form.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}