{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzCoreBundle #}

{% extends 'AtemschutzCoreBundle:MyAccount:base.html.twig' %}

{% block title %}{{ parent() }} - Bearbeiten{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block moduleTitle %}Meinen Account bearbeiten{% endblock %}

{% block moduleActions %}
<ul class="inline">
	<li><a href="{{ path('user_index') }}">Abbrechen</a>
</ul>
{% endblock %}

{% block moduleBody %}
{% include 'AtemschutzCoreBundle:MyAccount:form.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}