{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzCoreBundle #}

{% extends 'AtemschutzCoreBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Wilkommen{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block bundleBody %}
<h1>Herzlich Willkommen</h1>
Herzlich Willkommen zu ATS.net2
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}