{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzNachweisBundle #}

{% form_theme form 'AtemschutzCoreBundle:Form:fields.html.twig' %}

<form action="" method="post" {{ form_enctype(form) }}>
	<table>
	{{ form_widget(form) }}
	</table>
	<input type="submit" value="Abschicken" />
</form>