{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzNachweisBundle #}

{% extends 'AtemschutzCoreBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Einsatzart{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block bundleBody %}
<h2>Einsatzarten</h2>

<h3>{% block moduleTitle %}{% endblock %}</h3>

{% block moduleActions %}
<ul class="inline">
	<li><a href="{{ path('einsatzart_new') }}">Neue Einsatzart</a>
</ul>
{% endblock %}

{% block moduleBody %}{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}