<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ein Fehler ist Aufgetreten: {{ status_text }}</title>
</head>
<body>
    <h1>Oops! Ein Fehler ist aufgetreten</h1>
    <h2>Der Server hat folgende Meldung zurückgegeben "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>