{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzNachweisBundle #}

{% extends 'AtemschutzCoreBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Atemschutzger채tetr채ger{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block bundleBody %}
<h2>Atemschutzger채tetr채ger</h2>

<h3>{% block moduleTitle %}{% endblock %}</h3>

{% block moduleActions %}{% endblock %}

{% block moduleBody %}{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}